[Unit]
Description=PMC Http Interfaces
After=network.target

[Service]
User=root
Group=root
ExecStart=bash /bot/pmc/pmc/_run.sh
[Install]
WantedBy=multi-user.target
