[Unit]
Description=PMC Http Interfaces
After=network.target

[Service]
User=qing
Group=qing
ExecStart=pmc -i /etc/pmc/init.txt --serve 5200
[Install]
WantedBy=multi-user.target
