[Unit]
Description=PMC Http Interfaces
After=network.target

[Service]
User=qing
Group=qing
ExecStart=bash /bot/pmc/pmc/_run.sh
[Install]
WantedBy=multi-user.target
