[Unit]
Description=Coprocessor Communication Http Service
After=network.target

[Service]
User=root
Group=root
ExecStart=start_pmcd.sh 1> /dev/null
#Restart=always
[Install]
WantedBy=multi-user.target
