.top-bar-con {
    width: 230px;
    display: flex;
    justify-content: space-between;
}

.newBtn,
.flushBtn,
.removeBtn {
    width: 84px;
    height: 42px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}

.newBtn {
    background-color: #5cff007d;
}

.flushBtn {
    background-color: #5757577d;
}

.removeBtn {
    background-color: #ff00007d;
    color: #000000b8;
}

td {
    width: 180px;
    text-align: center;
    font-size: 20px;
}