.newBtn,
.flushBtn,
.stopBtn {
    width: 84px;
    height: 42px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}

.newBtn {
    background-color: #5cff007d;
}

.flushBtn {
    background-color: #5757577d;
    margin-left: 60px;
}

.stopBtn {
    background-color: #ff00007d;
}

.text,
.title {
    font-size: 20px;
}

td,
th {
    width: 180px;
    text-align: center;
}

#inProgressText {
    font-size: 20px;
    margin-top: 5px;
    letter-spacing: 2px;
}

/* modal window style */
.modal-con {
    width: 100%;
    height: 100%;
    background-color: rgba(68, 94, 65, 0.77);
    position: absolute;
    left: 0px;
    top: 0px;
    display: none;
    justify-content: center;
    z-index: 1;
}

.modal-con .window {
    width: 200px;
    height: 120px;
    background-color: #5cff007d;
    padding: 0px 10px;
}

.modal-con .window .top-bar {
    display: flex;
    justify-content: end;
}

.modal-con .window .top-bar .close-btn {
    cursor: pointer;
}

.modal-con .window .create-btn,
.modal-con .window .input .input-area {
    margin-top: 5px;
}